
{
    "extends": [ "wesbos" ],
    "rules": {
        "import/no-unresolved": "off",
        "max-classes-per-file": "off",
        "react/no-danger": "off",
        "no-restricted-exports": "off",
        "eslintreact/destructuring-assignment": "off",
        "react/jsx-no-useless-fragment": "off",
  
      }
  } 